//logo
@mixin logo {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: #1F4045;
}

//navbar
@mixin navBar {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.navbar {
    @include logo;
    .container {
        .navbar-collapse {
            @include navBar;
        }
    }
}